alabaster==0.7.13
appnope==0.1.3
astroid==2.4.2
attrs==22.2.0
Babel==2.12.1
backcall==0.2.0
cachetools==5.3.0
certifi==2020.6.20
charset-normalizer==3.1.0
click==8.1.3
cycler==0.11.0
debugpy==1.6.6
decorator==5.1.1
dill==0.3.6
docutils==0.19
entrypoints==0.4
fastjsonschema==2.16.3
fica==0.2.2
fonttools==4.38.0
google-api-core==2.11.0
google-api-python-client==2.80.0
google-auth==2.16.2
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
googleapis-common-protos==1.58.0
httplib2==0.21.0
idna==3.4
imagesize==1.4.1
importlib-metadata==6.0.0
importlib-resources==5.12.0
ipykernel==6.16.2
ipython==7.34.0
isort==4.3.21
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.3
jupyter_client==7.4.9
jupyter_core==4.12.0
jupytext==1.14.5
kiwisolver==1.4.4
lazy-object-proxy==1.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.5.3
matplotlib-inline==0.1.6
mccabe==0.6.1
mdit-py-plugins==0.3.5
mdurl==0.1.2
mne==1.3.1
nbformat==5.7.3
nest-asyncio==1.5.6
numpy==1.19.1
oauthlib==3.2.2
otter-grader==4.3.1
packaging==23.0
pandas==1.0.5
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
pkgutil_resolve_name==1.3.10
platformdirs==3.1.1
pooch==1.7.0
prompt-toolkit==3.0.38
protobuf==4.22.1
psutil==5.9.4
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydantic==1.10.5
Pygments==2.14.0
pylint==2.5.3
pyparsing==3.0.9
pyrsistent==0.19.3
python-dateutil==2.8.2
python-on-whales==0.59.0
pytz==2020.1
PyYAML==6.0
pyzmq==25.0.0
quiz==0.0.1
requests==2.28.2
requests-oauthlib==1.3.1
rsa==4.9
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.12.2
six==1.15.0
snowballstemmer==2.2.0
Sphinx==5.3.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
threadpoolctl==3.1.0
toml==0.10.1
torch==1.13.1
torchvision==0.14.1
tornado==6.2
tqdm==4.65.0
traitlets==5.9.0
typed-ast==1.4.1
typer==0.7.0
typing_extensions==4.5.0
uritemplate==4.1.1
urllib3==1.26.14
wcwidth==0.2.6
wrapt==1.12.1
xgboost==1.6.2
zipp==3.15.0
